body
{
    background-color:black;
}

h1
{
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-larger;
}

h3
{
    color: yellow;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;

}

pre
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p
{
    color: yellow;
}

#page_viewer
{
    height: 775px;
    width: 100%;
}

.flex-container
{
    display: flex;
    background-color: yellow;
}

.footer
{
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.viewnav
{
    background-color: green;   
}

.grid-container 
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }

  .grid-item 
  {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .welcome_page
  {
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #button_group
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }

  #index
  {
    text-align: center;
  }