body
{
    background-image: -webkit-radial-gradient();
}

h1
{
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

p
{

}

.flex-container
{
    display: flex;
    background-color: yellow;
}

.upper
{

}

.center
{

}

.lower
{

}

.footer
{
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.viewnav
{
    display: flex;
    background-color: green;   
}

.viewnav_inner
{

}

.view
{

}
.viewer
{

}

#wrapper
{

}

