body
{
    background-color:black;
}

h1
{
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

p
{

}

#page_viewer
{
    height: 775px;
    width: 100%;
}

.flex-container
{
    display: flex;
    background-color: yellow;
}

.upper
{

}

.center
{

}

.lower
{

}

.footer
{
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.viewnav
{
    display: flex;
    background-color: green;   
}

.viewnav_inner
{

}

.view
{

}
.viewer
{

}

#wrapper
{

}

.grid-container 
{
    display: grid;
    grid-template-columns: auto auto;
    /* Not needing background color for this
    background-color:white;
    */
    padding: 10px;
  }
  .grid-item 
  {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }